@import url('https://fonts.googleapis.com/css2?family=Science+Gothic:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&display=swap');
body{
    background-color: rgb(28, 27, 27);
}
.bg-light-dark{
    background-color:rgb(52, 51, 51) ;
}
#root{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    /* font-family: "Science Gothic", sans-serif; */
    font-family: "Merriweather", serif;

}
.container{
    flex:1;
    
}
.rounded1{
    border-radius: 1.5rem;
}
.password-field{
    position: relative;
}
.eyeicon{
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    font-size: 18px;
    color: rgb(12, 0, 183);
}
.side-nav-section{
    height: 80vh;
    overflow-y: scroll;
    scrollbar-width: thin;
}
.chart-section{
    height: 80vh;
    overflow-y: scroll;
    scrollbar-width: none;
}

@media(max-width:768px){
    .side-nav-section{

    border-top: 1px dashed rgb(106, 0, 255);
    border-bottom: 1px dashed rgb(106, 0, 255);
    height: 150px;
    overflow-y: scroll;
    scrollbar-width: thin;
}
}
.loadchart{
    display: flex;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
    
}
.loadchart1{
    display: flex;
    width: 100%;
    height: 400px;
    justify-content: center;
    align-items: center;
    
}
.dotloader{
    /* display: inline-block; */
    overflow: none;
    height: 50px;
    width: 0px;
    overflow: hidden;
    animation: dot1 2s infinite;
}
@keyframes dot1{
    from{width: 0px;}
    to{width: 50px;}
}
.pleasewait{
    width: 250px;
    display: flex;
}
.p1{
    font-size: 15px;
}