@import url('https://fonts.googleapis.com/css2?family=Science+Gothic:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&display=swap');
body{
    background-color: rgb(28, 27, 27);
}
.bg-light-dark{
    background-color:rgb(52, 51, 51) ;
}
#root{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    /* font-family: "Science Gothic", sans-serif; */
    font-family: "Merriweather", serif;

}
.container{
    flex:1;
    
}
.rounded1{
    border-radius: 1.5rem;
}
.password-field{
    position: relative;
}
.eyeicon{
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    font-size: 18px;
    color: rgb(12, 0, 183);
}